@charset "UTF-8";
.rw {
width: 100px;
height: 100px;
position: absolute;
bottom: 90px;
right: 235px; 
}
.rw>label{
    display: inline-block;
    padding: 5px;
    cursor: pointer;
}
.rw>label:hover{
    color: red;
}
.rw>label>input{
    margin-right: 5px;
    cursor: pointer;
}
/*.button{
display:flex;
}

#main {
  height: 600px;
}*/