@charset "UTF-8";
.rw {
width: 100px;
height: 100px;
position: absolute;
bottom: 180px;
right: 235px; 
}
.flexbox {
  display: flex;
  flex-direction: row-reverse;
  text-align: center;
  display: flex;
  justify-content: flex-end;
  margin: auto;
}
/*.button{
display:flex;
}

#main {
  height: 600px;
}*/