@charset "UTF-8";
.rw {
width: 100px;
height: 100px;
position: absolute;
bottom: 90px;
right: 235px; 
}
.flexbox {
  display: flex;
  flex-direction: row;
  text-align: center;
}
/*.button{
display:flex;
}

#main {
  height: 600px;
}*/