@charset "utf-8";

/*全体*/
.wrapper{
    max-width: 600px;
    margin: 0 auto;
    color: #666;
    height:680px;
}
#header {
    text-align: center;
    font-size: 24px;
    width: 100%;
    margin: 1rem 0 0;
}

/*カレンダー*/
#calendar {
    text-align: center;
    width: 100%;
}
table {
    outline: 2px solid #ddd;
    border-collapse: collapse;
    width: 100%;
}
th {
    color: #000;
}
th, td {
    outline: 1px solid #ddd;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

/*日付にカーソル合わせると色変わる*/
.calendar td:hover{
	background-color:pink;
	cursor:pointer;
	font-weight:bold;
}

/*日曜日*/
td:first-child {
    color: red;
}
/*土曜日*/
td:last-child {
    color: blue;
}
/*前後月の日付*/
td.disabled {
    color: #ccc;
}
/*本日*/
td.today {
    background-color: #D65E72;
    color: #fff;
}
/*ボタン*/
#next-prev-button {
    position: relative;
}
#next-prev-button button{
    cursor: pointer;
    background: #B78D4A;
    color: #fff;
    border: 1px solid #B78D4A;
    border-radius: 4px;
    font-size: 1rem;
    padding: 0.5rem 2rem;
    margin: 1rem 0;
}
#next-prev-button button:hover{
    background-color: #D4BB92;
    border-color: #D4BB92;
}
#prev {
    float: left;
}
#next {
    float: right;
}

.inf{
	text-align:center;
	font-weight:bold;
	color:gray;
}
/*グラフ スクロールしなくても全体がうつる位置*/
#chart_div{
	border:3px solid #ddd;
	width:23%;
	height:25%;
	position:absolute;
	top:350px;
	left:920px;
}

/*プルダウン*/
#monthdate{
	font-size:20px;
	font-weight:bold;
	position:absolute;
	padding:18px;
	top:210px;
	left:540px;
	/*
	top:210px;
	left:825px;
	*/
}

/*広告*/
.ad{
	width:240px;
	height:500px;
	position:absolute;
	top:200px;
	left:20px;
	opacity:1;
}
.ad:hover{
	opacity:0.3;
}