@charset "UTF-8";
/*pタグと入力欄を横並べ*/
/*
*{
	outline:1px solid red;
}
*/

.login_wrapper{
	border:3px solid rgb(19, 104, 181);
	padding:10px;
	margin:0 auto;
	width:580px;
	height:500px;
	text-align:center;
	margin-top:50px;
}
.newc{
	background-color:gray;
}
.ln_wrapper{
	background-color:white;
	border:3px solid rgb(19, 104, 181);
	padding:10px;
	margin:0 auto;
	width:580px;
	height:610px;
	text-align:center;
	margin-top:50px;
	margin-bottom:20px;
}
.lp_wrapper{
	position:relative;
	border:3px solid rgb(19, 104, 181);
	padding:10px;
	margin:0 auto;
	width:580px;
	height:420px;
	text-align:center;
	margin-top:150px;
}
.login_container{
	margin-top:50px;
}


p{
	display:inline-block;
}

.login_p{
	padding:5px;
	width:120px;
	border:2px solid rgb(0, 166, 255);
}

.l_text{
	padding:10px;
	width:240px;
	border:2px solid rgb(0, 166, 255);
}
.lt_text{
	padding:10px;
	width:150px;
	border:2px solid rgb(0, 166, 255);
}

.l_button{
	border:2px solid rgb(0, 166, 255);
	background-color:white;
	padding:5px;
	width:120px;
	margin-top:30px;
	font-weight:bold;
}

.ln_button{
	margin-top:70px;
	font-size:16px;
	width:190px;
}

.new_button{
	margin-bottom:20px;
}

