@charset "UTF-8";

/*登録ボタン*/
.regi_submit{
	float : right;
	padding : 10px 30px 10px 30px;
	margin-right : 15px;
	margin-bottom : 30px;
}

/*チェックボックステーブル*/
.regi_check{
	padding : 1em 15em 1em 15em ;
	margin-top : 5px;
	margin-bottom : 5px;
}

.bf_check{
	display : block;
}