@charset "UTF-8";

/*広告*/
.ad{
	width:240px;
	height:500px;
	position:absolute;
	top:200px;
	left:20px;
	opacity:1;
}
.ad:hover{
	opacity:0.3;
}

/*テーブル上*/
.table_ue {
	margin : 4px 20px 4px 300px ;
	position : relative;
	bottom : 45px;
}
/*テーブル上 th*/
.table_ue th {
	width : 64px ;
	text-align : center
}
/*テーブル上 td*/
.table_ue td {
	width : 500px ;
	text-align : center
}
/*テーブル上text*/
.eat_text1{
	width:400px;
}
.eat_text2{
	width:400px;
}
.eat_text3{
	width:400px;
}

/*テーブル中*/
.table_chuu {
	margin : 4px 20px 4px 300px ;
	display : block;
	width : min-content;
	white-space : nowrap;
	position : absolute;
	left :5px;
	top : 380px;
}

/*テーブル下*/
.table_shita {
	margin : 4px 20px 4px 300px ;
	display : block;
	width : min-content;
	white-space : nowrap;
	position : absolute;
	left :240px;
	top : 380px;
}
/*体重bmiのテキスト*/
.reg_text {
	width:50px;
}

/*テーブル写真*/
.table_picture {
	margin : 4px 20px 4px 300px ;
	width : min-content;
	height : 180px;
	white-space : nowrap;
	position : absolute;
	left :400px;
	top : 380px;
}

/*登録ボタン*/
.regi_submit{
	padding : 10px 30px 10px 30px;
	margin-right : 15px;
	float : right;
	position : absolute;
	left : 1130px;
	top : 520px;
}
