@charset "UTF-8";

.slider {
  width: 450px;
    height: 400px;
    overflow: hidden;
    margin: 0 auto;
    border-color: black;
	position: absolute;
	top: 0;
    right: 32%;
}
.slider-item {
  width: 450px;
  height: 350px;
  float: left;
}
img{
  width:100%;
}
.slider-inner {
  width: 300%;

  animation: slider 10s infinite ease;
}

@keyframes slider {
	0% {
	transform: translateX(0);
	}
	33% {
	transform: translateX(-450px);
	}
	66% {
	transform: translateX(-900px);
	}
	100% {
	transform: translateX(0);
	}
}
article {
  width: 1200px;
  position: relative;
}

.advertisement{

	width: 200px;
	height:500px;
}

.button{

}