@charset "UTF-8";

body {
	position: relative;
}

.slider {
	position: absolute;
  width: 450px;
    height: 400px;
    overflow: hidden;
    margin: 0 auto;
    border-color: black;
	top: 10%;
    right: 35%;
}
.slider-item {
  width: 450px;
  height: 350px;
  float: left;
}
img{
  width:100%;
}
.slider-inner {
  width: 300%;

  animation: slider 10s infinite ease;
}

@keyframes slider {
	0% {
	transform: translateX(0);
	}
	33% {
	transform: translateX(-450px);
	}
	66% {
	transform: translateX(-900px);
	}
	100% {
	transform: translateX(0);
	}
}
article {
  width: 1200px;
}

.advertisement{

	width: 200px;
	height:500px;
}

.button{
	position: absolute;
	display: flex;
	justify-content: center;
    width: 600px;
    height: 100px;
    padding: 10px;
	right: 28%;
	bottom: 0;

}

.button1{
	width: 100px;
	height: 50px;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    border: 1px solid #68779a;
    /*background: #cbe8fa;*/
    cursor: pointer;
}