@charset "UTF-8";

.title{
	position:absolute;
	top:150px;
	left:930px;
	text-align:center;
	font-weight:bold;
}
table , td{
	border: 2px solid #595959;
	border-collapse: collapse;
}
td{
	padding: 10px;
	width: 110px;
	height: 45px;
}

/*テーブル同士の隙間*/
.ctitle{
	margin-bottom:10px;
}
.tname{
	font-size:8px;
}

/*
前シーズンの称号 非表示
.ptitle{
	display: none;
}
*/
