@charset "UTF-8";

.title{
	position:absolute;
	top:168px;
	left:930px;
	text-align:center;
	font-weight:bold;
}
table , td{
	border: 2px solid #595959;
	border-collapse: collapse;
}
td{
	padding: 10px;
	width: 110px;
	height: 45px;
}
.color{
	color:black;
}